In [129]:
import pandas as pd
from collections import Counter

In [153]:
#get "mixed types" error with imports. should make sure its importing correctly
left = pd.read_csv('data/2017/extract_public_2015_20170829132341_charges_20170101-20170829_TRAVIS.csv')
right = pd.read_csv('data/2017/extract_public_2015_20170829132341_crash_20170101-20170829_TRAVIS.csv')
right2 = pd.read_csv('data/2017/extract_public_2015_20170829132341_damages_20170101-20170829_TRAVIS.csv')
right3 = pd.read_csv('data/2017/extract_public_2015_20170829132341_endorsements_20170101-20170829_TRAVIS.csv')
right4 = pd.read_csv('data/2017/extract_public_2015_20170829132341_lookup_20170101-20170829_TRAVIS.csv')
right5 = pd.read_csv('data/2017/extract_public_2015_20170829132341_person_20170101-20170829_TRAVIS.csv')
right6 = pd.read_csv('data/2017/extract_public_2015_20170829132341_primaryperson_20170101-20170829_TRAVIS.csv')
right7 = pd.read_csv('data/2017/extract_public_2015_20170829132341_restrictions_20170101-20170829_TRAVIS.csv')
right8 = pd.read_csv('data/2017/extract_public_2015_20170829132341_unit_20170101-20170829_TRAVIS.csv')

## Finding duplicate columns across sections of data

In [151]:
#Using for loops since values() method returns a list, dont want list of lists
columns = []
for col in left.columns.values:
    columns.append(col)
for col in right.columns.values:
    columns.append(col)
for col in right2.columns.values:
    columns.append(col)
for col in right3.columns.values:
    columns.append(col)
for col in right4.columns.values:
    columns.append(col)
for col in right5.columns.values:
    columns.append(col)
for col in right6.columns.values:
    columns.append(col)
for col in right7.columns.values:
    columns.append(col)
for col in right8.columns.values:
    columns.append(col)
    
col_count = Counter(columns)

In [152]:
dup_col = []
for key, value in col_count.iteritems():
    if value > 1:
        dup_col.append(key)
dup_col

['Prsn_Alc_Rslt_ID',
 'Non_Injry_Cnt',
 'Prsn_Drg_Rslt_ID',
 'Prsn_Ethnicity_ID',
 'Incap_Injry_Cnt',
 'Prsn_Sol_Fl',
 'Prsn_Injry_Sev_ID',
 'Prsn_Occpnt_Pos_ID',
 'Prsn_Bac_Test_Rslt',
 'Prsn_Type_ID',
 'Poss_Injry_Cnt',
 'Prsn_Death_Time',
 'Prsn_Ejct_ID',
 'Death_Cnt',
 'Prsn_Gndr_ID',
 'Unkn_Injry_Cnt',
 'Prsn_Airbag_ID',
 'Prsn_Nbr',
 'Crash_ID',
 'Prsn_Helmet_ID',
 'Unit_Nbr',
 'Prsn_Alc_Spec_Type_ID',
 'Tot_Injry_Cnt',
 'Prsn_Drg_Spec_Type_ID',
 'Prsn_Age',
 'Prsn_Rest_ID',
 'Nonincap_Injry_Cnt']

## Joining each section of data

In [154]:
#investigating to make sure outer join works as expected
dup_id = left[left.duplicated(subset='Crash_ID', keep=False)]['Crash_ID'].unique()
dup2 = right2[right2.Crash_ID.duplicated()]['Crash_ID'].unique()
dup3 = right3[right3.Crash_ID.duplicated()]['Crash_ID'].unique()

In [87]:
join = pd.merge(left, right, how='outer', on='Crash_ID')
join = pd.merge(join, right2, how='outer', on='Crash_ID')

In [94]:
right3[right3.Crash_ID == dup3[0]]

   Crash_ID  Unit_Nbr  Drvr_Lic_Endors_ID
0  15425782         1                  96
1  15425782         2                  96

In [95]:
join[join.Crash_ID == dup3[0]]

,Crash_ID,Unit_Nbr,Prsn_Nbr,Charge_Cat_ID,Charge,Citation_Nbr,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,...,Poss_Injry_Cnt,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative,Damaged_Property
8240,15425782,NaN,NaN,NaN,NaN,NaN,N,N,N,N,...,1,1,0,1,0,90.0,35.0,NaN,NaN,NaN